  a {
    color: #fff;
    font-size: 17px;
    margin-left: 600px;
  }

  body {
    background: #1d8dc2;
    margin: 0px;
    padding: 0px;

  }

  div {
    display: inline;
    margin-left: 280px;
    padding: 0px 0px 10px 0px;
  }

  h1{
    color: #fff;
    display: inline-block;
    font-size: 25px;
    margin-left: 15px;
  }

  header {
    background: #2a7b98;
    height: 50px;
    padding: 20px;
    width: 100%;
  }

  header > img {
    height: 40px;
    margin: 0px;
    margin-left: 200px;
    width: 200px;
  }

  header > div > i {
    background: #67a1bf;
    margin: 20px 3px;
    padding: 3px;
  }

  header > div > img {
     border-radius: 50%;
     height: 50px;
     margin: 0px;
     width: 30px;
   }

   i {
     color: #fff;
     margin-left: 10px;
     padding: 5px;
   }

  nav > button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    margin: 10px;
    width: 100px;
  }

  section > button {
    background: #157aa7;
    border: none;
    color: #f1f3f2;
    font-size: 15px;
    height: 30px;
    width: 200px;
  }

  .b1 {
    background: #67a1bf;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: 30px;
    width: 120px;
  }

  .b2 {
    background: #67a1bf;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: 30px;
    width: 180px;
  }

  .b2 > i {
    margin-left: 140px;
  }
